{# _myapp/templates/building.html_ #}

{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MUBs Home{% endblock %}

{% block content %}
{{ super() }}
<div class="jumbotron">
    <div class="container">
        <h1>Arlington County Multi-Unit Buildings</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>{{ title }}</h2>
    </div>
    <div id="tableTabs" class="container">
        <ul class="nav nav-tabs" id="tableTabsList">
            <li class="active">
                <a href="#attributetab" data-toggle="tab">Building Attributes</a>
            </li>
            <li>
                <a href="#votertab" data-toggle="tab">Voters</a>
            </li>
            <li>
                <a href="#volunteertab" data-toggle="tab">Volunteers</a>
            </li>
            <li>
                <a href="#ambassadortab" data-toggle="tab">Ambassadors</a>
            </li>
            <li>
                <a href="#eventtab" data-toggle="tab">Events</a>
            </li>
            <li>
                <a href="#unregisteredaptstab" data-toggle="tab">Unregistered Apartments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="attributetab">
                {{ wtf.quick_form(caform, action=url_for('.update_community_attribute', bldng=building, _anchor='attributetab'), form_type='horizontal', horizontal_columns=('md', 2, 10), button_map={'submit': 'danger'}, id='caform') }}
            </div>
            <div class="tab-pane" id="votertab">
                <table id="votertable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
            </div>
            <div class="tab-pane" id="volunteertab">
                <table id="volunteertable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
            </div>
            <div class="tab-pane" id="ambassadortab">
                <table id="ambassadortable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
                {% include 'new_amba_form.html' %}
            </div>
            <div class="tab-pane" id="eventtab">
                <table id="eventtable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
                {% include 'new_event_form.html' %}
            </div>
            <div class="tab-pane" id="unregisteredaptstab">
                <table id="unregisteredaptstable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/buildingtable.js') }}"></script>
    <script type="text/javascript">
     draw_voter_table("#votertable", {{ voterData | safe }}, "{{ building }}");
     draw_volunteer_table("#volunteertable", {{ volunteerData | safe }}, "{{ building }}");
     draw_ambassador_table("#ambassadortable", {{ ambassadorData | safe }}, "{{ building }}");
     draw_event_table("#eventtable", {{ eventData | safe }}, "{{ building }}");
     draw_unregistered_apts_table('#unregisteredaptstable', {{ noVoterAptData | safe }}, "{{ building }}")
    </script>
    <script type="text/javascript">
     console.log('hello');
     $('#tableTabsList a').click(function(e) {
         e.preventDefault();
         $(this).tab('show');
     });

     // store the currently selected tab in the hash value
     $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
         var id = $(e.target).attr("href").substr(1);
         window.location.hash = id;
     });

     // on load of the page: switch to the currently selected tab
     var hash = window.location.hash;
     $('#tableTabsList a[href="' + hash + '"]').tab('show');
    </script>
</div>
{% endblock %}
