{# _myapp/templates/building.html_ #}

{% extends "layout.html" %}
{% block title %}MUBs Home{% endblock %}
{% block content %}
{{ super() }}
<div class="jumbotron">
    <div class="container">
        <h1>Arlington County Multi-Unit Buildings</h1>
    </div>
</div>
<div class="container">
    <h2>{{ title }}</h2>
    <div id="tableTabs" class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#votertab" data-toggle="tab">Voters</a>
            </li>
            <li>
                <a href="#volunteertab" data-toggle="tab">Volunteers</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="votertab">
                <table id="votertable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
            </div>
            <div class="tab-pane" id="volunteertab">
                <table id="volunteertable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/buildingtable.js') }}"></script>
    <script type="text/javascript">
     draw_voter_table("#votertable", {{ voterData | safe }}, "{{ building }}");
     draw_volunteer_table("#volunteertable", {{ volunteerData | safe }}, "{{ building }}");
    </script>
</div>
{% endblock %}
