{# _myapp/templates/building.html_ #}

{% extends "layout.html" %}
{% block title %}MUBs Home{% endblock %}
{% block content %}
{{ super() }}
<div class="jumbotron">
    <div class="container">
        <h1>Arlington County Multi-Unit Buildings</h1>
    </div>
</div>
<div class="container">
    <h2>{{ title }}</h2>
    <div id="tableTabs" class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#votertab" data-toggle="tab">Voters</a>
            </li>
            <li>
                <a href="#volunteertab" data-toggle="tab">Volunteers</a>
            </li>
            <li>
                <a href="#ambassadortab" data-toggle="tab">Ambassadors</a>
            </li>
            <li>
                <a href="#eventtab" data-toggle="tab">Events</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="votertab">
                <table id="votertable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
            </div>
            <div class="tab-pane" id="volunteertab">
                <table id="volunteertable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
            </div>
            <div class="tab-pane" id="ambassadortab">
                <table id="ambassadortable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
                <div id="new-amba-form">
                    <h3>Add an Ambassador</h3>
                    <form id="new-amba-form-el" action="{{ url_for('.new_ambassador') }}" method="POST">
                        <div class="form-group">
                            <label for="Ambassador_Name">Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="Ambassador_Name"
                                   name="Ambassador_Name"
                                   placeholder="Ambassador_Name">
                        </div>
                        <div class="form-group">
                            <label for="Amb_Apartment">Apartment</label>
                            <input type="text"
                                   class="form-control"
                                   id="Amb_Apartment"
                                   name="Amb_Apartment"
                                   placeholder="Amb_Apartment">
                        </div>
                        <div class="form-group">
                            <label for="Phone">Phone</label>
                            <input type="tel"
                                   class="form-control"
                                   id="Phone"
                                   name="Phone"
                                   placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="Email"
                                   name="Email"
                                   placeholder="Email">
                        </div>
                        <input type="hidden" id="Address" name="Address" value="{{ building }}">
                        <input type="hidden" id="Building_Name" name="Building_Name" value="{{ bname }}">
                        <input type="hidden" id="simple_bldng" name="simple_bldng" value="{{ simplebldng }}">
                        <button type="submit" class="btn btn-success">Add Ambassador</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="eventtab">
                <table id="eventtable"
                       class="table table-striped table-bordered"
                       cellspacing="0"
                       width="100%"></table>
                <div id="new-event-form">
                    <h3>Add an Event at {{ building }}</h3>
                    <form id="new-event-form-el" action="{{ url_for('.new_event') }}" method="POST">
                        <div class="form-group">
                            <label for="Event_type">Event Type</label>
                            <select class="selectpicker form-control"
                                    id="Event_type"
                                    name="Event_type"
                                    placeholder="Event Type">
                                {% for eventtype in eventtypes %}
                                    <option>{{ eventtype }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Event_date">Date</label>
                            <div class="input-group date" data-provide="datepicker">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       id="Event_date"
                                       name="Event_date"
                                       placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Event_description">Description</label>
                            <input type="text"
                                   class="form-control"
                                   id="Event_description"
                                   name="Event_description"
                                   placeholder="Description">
                        </div>
                        <div class="form-group">
                            <label for="Notes">Notes</label>
                            <input type="text"
                                   class="form-control"
                                   id="Notes"
                                   name="Notes"
                                   placeholder="Notes">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           id="Refused_Event"
                                           name="Refused_Event">Refused Event
                                </label>
                            </div>
                        </div>
                        <input type="hidden" id="Apt_address" name="Apt_address" value="{{ building }}">
                        <input type="hidden" id="bldng" name="bldng" value="{{ building }}">
                        <input type="hidden" id="simple_bldng" name="simple_bldng" value="{{ simplebldng }}">
                        <button type="submit" class="btn btn-success">Add Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/buildingtable.js') }}"></script>
    <script type="text/javascript">
     draw_voter_table("#votertable", {{ voterData | safe }}, "{{ building }}");
     draw_volunteer_table("#volunteertable", {{ volunteerData | safe }}, "{{ building }}");
     draw_ambassador_table("#ambassadortable", {{ ambassadorData | safe }}, "{{ building }}");
     draw_event_table("#eventtable", {{ eventData | safe }}, "{{ building }}");
    </script>
</div>
{% endblock %}
